.match-item {
	padding: 10px 0;

	.match-avatar {
		border-radius: 50%;
		width: 40px;
		height: 40px;
	}
}

.preview-button {
	float: right;
}

.matches__button-divider {
	margin-top: 16px;
	margin-bottom: 16px;
}
