$lighter-blue: #b3cfff;
$light-blue: #91ace5;
$blue: #6f8acb;
$dark-blue: #4b6ab2;
$darker-blue: #1f4b99;

.peeking-furby {
	width: 100px;
	position: absolute;
	z-index: -5;
	margin-top: 24px;
	left: calc(50vw - 50px);

	&.relative {
		position: relative;
	}
}

.send-opportunity__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.send-opportunity__card {
	display: flex;
	flex-direction: column;
	justify-content: center;

	margin-top: 64px;
	margin-bottom: 16px;
	width: 40vw;
}

.send-header {
	margin-top: 0px;
	text-align: center;
}

.preview-convo {
	width: 500px;
}

.send-button {
	width: 80%;
	clear: both;
	height: 60px;
	font-size: 32px !important;
}

.arrow-icon svg {
	width: 64px;
	height: 64px;
}

.match-name {
	background-color: $blue;
	border-radius: 15px;
	text-align: center;
	color: white;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-bottom: 8px;
}

.recipients-icons {
	display: flex;
	width: 240px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.central-spinner {
	margin-top: 150px;
}
